/* All Decks **************************************************/

.decks {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  margin-top: 3rem;
  width: 100%;
}

.noResults {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3rem;
  width: 1280px;
}

.noResults img {
  width: 350px;
}

.noResults h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

/* Filtered Decks **************************************************/

.noMatch {
  color: rgb(227, 74, 47);
  font-size: 1.3rem;
}

/* DeckCard **************************************************/

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.wrapper button {
  background-color: rgb(227, 74, 47);
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  height: 35px;
  letter-spacing: 0.2rem;
  margin: 0;
  margin-top: 0.5rem;
  transition: all 0.3s;
  width: 75%;
}

.wrapper button:hover {
  background-color: rgb(164, 25, 1);
  cursor: pointer;
}

.card {
  width: 300px;
  opacity: 0.8;
  background-image: url('../../assets/bg1.jpg');
  height: 450px;
  background-size: contain;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1.5rem 0.5rem;
  border-radius: 15px;
  transition: all 0.2s;
}

.card:hover {
  cursor: pointer;
  opacity: 1;
}

.card h3 {
  font-size: 2rem;
  -webkit-text-stroke: 2px rgb(46, 105, 179);
  color: rgb(255, 204, 1);
  letter-spacing: 0.2rem;
  text-align: center;
}

@media (max-width: 1500px) {
  .noResults {
    width: 936px;
  }

  .noResults img {
    width: 240px;
  }

  .noResults h3 {
    font-size: 2rem;
  }

  .noMatch {
    font-size: 1.2rem;
    min-width: 500px;
  }

  .decks {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
  }

  .wrapper {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .card {
    width: 250px;
    height: 400px;
    padding: 2rem 0.5rem;
    border-radius: 25px;
  }
}
