.sec {
  padding: 5rem 20rem;
}

.content {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1000px) {
  .sec {
    padding: 5rem 15rem;
  }

  .content button {
    width: 300px;
  }
}
