.sec {
  padding: 5rem 20rem;
}

.content {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.decks {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1500px) {
  .sec {
    padding: 5rem 15rem;
  }

  .content button {
    width: 300px;
  }
}
