header {
  align-items: center;
  background: #212531;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 5px 15px -5px rgb(30, 30, 30);
  display: flex;
  height: 10rem;
  justify-content: center;
}

.ball {
  align-items: center;
  display: flex;
}

.logo {
  padding-bottom: 1rem;
  width: 350px;
}

.img,
.img1 {
  animation: bounce 2s ease infinite;
  margin: 0 3rem;
  padding-top: 1rem;
  width: 100px;
}

.img1 {
  animation: bounce 2s 1s ease infinite;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
