.sec {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
}

.info,
.miniCards {
  width: 50%;
}

.info h1,
.info h3 {
  font-size: 2rem;
  margin: 2.5rem 0;
}

.info h1 {
  -webkit-text-stroke: 4px rgb(46, 105, 179);
  color: rgb(255, 204, 1);
  font-size: 6rem;
  margin-top: 0;
}

.miniCards {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1rem;
}
