.div {
    /* background-color: brown; */
    padding-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.div img {
    width: 40%;
    margin-bottom: 2rem;
}

.div h3 {
    font-size: 2rem;
}