.sec {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 4rem 8rem;
}

.pokemons {
  padding-top: 1rem;
  width: 80%;
}

.pokemons input {
  margin-bottom: 2rem;
  width: 95%;
}

.cardsGrid {
  width: 95%;
}

.link {
  padding-right: 2rem;
}

.deck {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.deck input {
  border: none;
  border-bottom: 3px solid rgb(40, 51, 133);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  height: 60px;
  margin: 2rem;
  padding: 1.5rem 0;
  text-align: center;
  width: 85%;
}

.deck input:focus,
.deck input:active {
  outline: none;
}

.warnings {
  width: 85%;
}

.warning {
  color: rgb(227, 74, 47);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.pokeName {
  font-size: 1.2rem;
  text-align: right;
}

.remove {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  text-align: left;
  width: 85%;
}

.svg {
  color: rgb(255, 6, 6);
  transition: all 0.2s;
}

.svg:hover {
  cursor: pointer;
  transform: scale(1.1);
}
