.sec {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8rem;
}

.sec h1 {
  font-size: 2rem;
}

.sec img {
  width: 350px;
  margin-bottom: 4rem;
}
